@using EWebStore.Models
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 overlay innerpage" style="background-image: url('../images/blackcars.jpg')">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <h1>Profile</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="site-section bg-light">
    <div class="container">

        @* ============  Profile Preview begin ============= *@
        <div class="featureboard mt-5">
            <div><h4 class="text-center">Personal Details</h4></div>
            <div class="row align-items-center justify-content-center">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <span>Full Name: </span> @((Session["UserDetails"] as UserDetails).Firstname) @((Session["UserDetails"] as UserDetails).Lastname)
                                <button type="button" class="btn btn-link btn-xs">
                                    <span class="fa fa-pencil"> </span>
                                </button>
                            </p>
                            <p>
                                <span>Email: </span> @((Session["UserDetails"] as UserDetails).Email))
                            </p>
                            <p>
                                <span>Phone : </span> @((Session["UserDetails"] as UserDetails).Phone))
                                <button type="button" class="btn btn-link btn-xs">
                                    <span class="fa fa-pencil"> </span>
                                </button>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span>Username: </span> @((Session["UserDetails"] as UserDetails).Username))
                            </p>
                            <p>
                                <span>Sex: </span> @((Session["UserDetails"] as UserDetails).Sex))
                                <button type="button" class="btn btn-link btn-xs">
                                    <span class="fa fa-pencil"> </span>
                                </button>
                            </p>
                        </div>
                    </div>

                    <h6>
                        Address:
                        <span>
                            <button type="button" class="btn btn-link btn-xs pull-right" data-toggle="collapse" data-target="#address">
                                <span class="fa fa-plus-circle"> </span>
                            </button>
                        </span>
                    </h6>
                    @if (Session["AddressList"] != null)
                    {
                        var addresses = Session["AddressList"] as List<AddressList>;
                        foreach (var address in addresses)
                        {
                            <div>
                                <hr />
                                <button type="button" class="btn btn-link btn-xs pull-right">
                                    <span class="fa fa-pencil" data-toggle="collapse" data-target="#address"> </span>
                                </button>
                                <a href="#QuestionModal/id=@address.id" data-id="@address.id" data-toggle="modal" class="btn btn-link col-md-1 btn-xs pull-right">
                                    <span class="fa fa-times-circle-o"> </span>
                                </a>
                                <span class="col-md-8"> @address.line, @address.city, @address.state, UK. </span>
                            </div>
                        }
                    }
                    <div>
                        <hr />
                        <button type="button" class="btn btn-link btn-xs pull-right">
                            <span class="fa fa-pencil" data-toggle="collapse" data-target="#address"> </span>
                        </button>
                        <button type="button" class="btn btn-link col-md-1 btn-xs pull-right">
                            <span class="fa fa-times-circle-o"> </span>
                        </button>
                        <span class="col-md-8"> 55, London Parkway, London, EN, UK. </span>
                    </div>
                    <div>
                        <hr />
                        <button type="button" class="btn btn-link btn-xs pull-right">
                            <span class="fa fa-pencil"> </span>
                        </button>
                        <button type="button" class="btn btn-link col-md-1 btn-xs pull-right">
                            <span class="fa fa-times-circle-o"> </span>
                        </button>
                        <span class="col-md-8">East-Wing by Middleton, Ireland, UK. </span>
                    </div>


                    <div class="collapse" id="address">
                        <hr />
                        <form action="~/Home/Address" method="post">
                            <div class="form-group">
                                <input class="form-control" type="text" name="line" placeholder="Address Line" />
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" name="city" placeholder="City" />
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" name="state" placeholder="state" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" name="code" placeholder="Zip Code" />
                                </div>
                                <div class="col-sm-6 text-sm-right">
                                    <span>
                                        <small class="text-muted">Pick location from Map. </small>
                                    </span><button type="button"><i class="fa fa-question-circle-o"></i></button>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @* ============  Profile Preview end ============= *@
        
    
    @* ============  Profile Edit begin ============= *@
        <div class="featureboard mt-5" id="editDetails">
            <div><h4 class="text-center mb-3">Edit Details</h4></div>
            <form role="form" class="col-md-10" action="~/Account/UpdateProfile">
                <div class="form-group row">
                    <div class="col-md-6 col-sm-6">
                        <input type="text" name="firstname" value="joseph" class="form-control" placeholder="FirstName">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <input type="text" name="lastname" value="manners" class="form-control" placeholder="LastName">
                    </div>
                </div>


                <div class="form-group row">
                    <label class="form-check-label col-sm-3">Gender: </label>
                    <div class="form-group col">
                        <label class="mr-3">
                            <input type="radio" class="mr-1" name="sex" value="male"> Male
                        </label>
                        <label class="mr-3">
                            <input type="radio" class="mr-1" name="sex" value="female"> Female
                        </label>
                        <label class="mr-3">
                            <input type="radio" class="mr-1" name="sex" value="secret"> Not Say
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6 col-sm-6">
                        <input type="number" name="phone" class="form-control" placeholder="Phone">
                    </div>
                </div>

                <div class="text-center mt-md-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        @* ============  Profile Edit end ============= *@

        @* ============  change Password begin ============= *@

        <div class="featureboard mt-5">
            <div><h4 class="text-center mb-3">Change Password</h4></div>
            <form role="form" action="~/Home/Update" method="post" class="col-md-10">
                <div class="form-group">
                    <div class="form-inline">
                        <label class="col-sm-6 control-label">Old Password</label>
                        <input type="password" placeholder=" " id="addr1" class="col-sm-6 form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <label class="col-sm-6 control-label">New Password</label>
                        <input type="password" placeholder=" " id="addr2" class="col-sm-6 form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <label class="col-sm-6 control-label">Confirm Password</label>
                        <input type="password" placeholder=" " id="phone" class="col-sm-6 form-control">
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-4">Submit</button>
                </div>
            </form>
        </div>
        @* ============  change Password end ============= *@
    </div>
</div>
